.title{
    color: white;
}

.year{
    color: white;
}


.movieWhole {
    max-width: 180px;
    max-height: 240px;
    display: inline-block;
    overflow: hidden;
    margin: 10px 20px 10px 0;
    position: relative;
    border-radius: 4px;
}

.movieFront{
    width: 100%;
}

.movieFront img{
    width: 100%;
}

.movieBack{
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(53, 63, 76, 0.7);
    display: flex;
    opacity: 0;
    transition: 0.2s opacity ease-in-out;
}

.movieBack:hover{
    opacity: 1;
    cursor: pointer;
}

.movieBackBlock{
    align-self: flex-end;
}