
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0A1014;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.showDetails{
  transition: 0.3s top ease-in-out;
  top: 65px;
  position: absolute;
  width: 90%;
  height: calc( 100% - 65px);
  background-color: #0A1014;
  left: 0;
  right: 0;
  margin: auto;
}

.hideDetails{
  transition: 0.3s top ease-in-out;
  top: 100%;
  position: fixed;
  width: 90%;
  left: 0;
  right: 0;
  margin: auto;
}

