.app-header{
    display: flex;
    padding-top: 25px;
    padding-bottom: calc(25px / 2);
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #0A1014;
    z-index: 99999;
}

.app-logo{
    align-items: left;
}